

.title {
  height: 80px;
  width: 100%;
  margin-top: 0px;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
}

.add-message {
  display: block;
  cursor: pointer;
  height: fit-content;
  width: 200px;
  padding: 8px;
  margin-left: 42vw;
  font-size: 15px;
}

.message-list {
  height: 300px;
  margin-left: 32vw;
  list-style: none;  //;]
  overflow-y: auto;

  .message {
    height: fit-content;
    width: 400px;
    padding: 5px;

  }
}

.form-title {
  text-align: center;
  color: white;
  font-size: 30px;
}

.form {
  margin-left: 35vw;
  height: fit-content;
  width: 100%;

  .name-input {
    width: 415px;
    margin-bottom: 20px;
    height: 20px;

  }

  .form-submit {
    display: block;
    height: fit-content;
    width: 100px;
    margin-left: 150px;
  }
}